<div class='header'>
  <audio  autoplay controls >
    <source id="wav" src="/<%= @wav_name %>" type="audio/wav">
  </audio>
</div>
<form class="repeats" method="post" action="/song/update/tempo">
  <span>Current tempo:</span>
  <input type="number" id="tempo" name="tempo" min="30" max="300" value="<%= @tempo %>" />
  <span>(BPM)</span>
  <br>
  <input type="submit" value="Update tempo">
</form>

<br>
<br>
<span>Current kit: </span>
<form class="repeats" method="post" action="song/change-kit">
    <select name="kit">
      <% each_kit do |kit| %>
        <option <%= selected_kit(kit) %> value="<%= kit %>"><%= kit %></option>
      <% end %>
    </select>
    <br>
    <input type="submit" value="Update kit">
  </form>
<br>
<br>
<% each_pattern do |pattern, instrument_array| %>
  <h3> <%= pattern %> </h3>
  <span>Current repeats:</span>
  <form class="repeats" method="post" action="song/update/<%= pattern %>">
    <select name="repeats">
      <% (1..8).each do |number| %>
        <option <%= selected_repeats(number, pattern) %> value="<%= number %>"><%= number %></option>
      <% end %>
    </select>
    <input type="submit" value="Update pattern">
  </form>

<p></p>
<% each_instrument(instrument_array) do |instrument, rhythm| %>
  <form method="post" action="/rhythm/<%= pattern %>/<%= instrument %>">
    <label><%= instrument %></label>

    <% rhythm.chars.each_with_index do |note, index| %>
      <input type="checkbox" name="rhythm[]" value="<%= index %>" <%= checked_box(note) %> >
    <% end %>
    <input type="submit" value="Update rhythm"/>
</form>
<% end %>
<br>
<% end %>

<br>
<a href="/song/new_pattern">Add a pattern</a>
