<% if checked_box? %>
<audio autoplay controls>
  <source id="wav" src="/<%= @wav_name %>" type="audio/wav">
</audio>
<% else %>
<p>All of the rhythms for your track are currently blank! Here's how to add some:<p>
  <ul>
    <li>Each instrument has its own rhythm, represented by a horizontal row of checkboxes.</li>
<li>Each checkbox in the row corresponds to a 16th note in that instrument's rhythm.</li>
<li>Click the checkboxes for one or more instruments to build some rhythms.</li>
<li>Then, click the 'Update rhythms' button to the right of the checkboxes to hear your track!</li>
</ul>
<p>You can also:</p>
<ul>
  <li>add variety to your track by adding a new section (it appears at the bottom of the screen)</li>
  <li>change the tempo or the drum kit for your track</li>
  <li>start over and view these instructions again </li>
</ul>
<p>Have fun!</p>
<% end %>

<br>
<form class="form" method="post" action="/song/update-tempo">
  <span>Current tempo:</span>
  <input type="number" id="tempo" name="tempo" min="30" max="300" value="<%= @tempo %>" />
  <span>(BPM)</span>
  <br>
  <input type="submit" value="Update tempo">
</form>
<br>
<br>
<span>Current kit: </span>
<form class="form" method="post" action="song/change-kit">
  <select name="kit">
    <% each_kit do |kit| %>
      <option <%= selected_kit(kit) %> value="<%= kit %>"><%= kit %></option>
      <% end %>
    </select>
    <br>
    <input type="submit" value="Update kit">
  </form>
<br>
<br>
<span>Add a new section to the track: </span>
<form class="form" method="post" action="song/new-pattern">
    <select name="title">
      <option value="none" selected>Select section name</option>
      <% each_part do |part| %>
        <option <%= part %> value="<%= part %>"><%= part %></option>
      <% end %>
    </select>
    <br>
    <input type="submit" value="Add section">
  </form>
<br>
<br>
<form class="form" method="post" action="/reset">
  <input type="submit" value="Clear all and start over">
</form>
<% each_pattern do |pattern, instrument_array| %>
  <h3> section: <%= pattern %> </h3>
  <span>Current repeats:</span>
  <form class="form" method="post" action="song/update/<%= pattern %>">
    <select name="repeats">
      <% (1..8).each do |number| %>
        <option <%= selected_repeats(number, pattern) %> value="<%= number %>"><%= number %></option>
      <% end %>
    </select>
    <input type="submit" value="Update repeats">
  </form>
<br>
<br>
<form method="post" action="/<%= pattern %>/update-rhythm">
  <% joined_rhythms(pattern).chars.each_with_index do |note, index| %>
  <% if index % 16 == 0%>
    <label><%= instrument_name(instrument_array, index) %></label>
  <% end %>
    <input type="checkbox" name="rhythm[]" value="<%= index %>" <%= checked_box(note) %> >
    <% if index == 47 %>
     <input type="submit" value="Update rhythms"/>
    <% end %>
  <% end %>


    </form>
    <br>
  <% end %>
  <p> a homely web interface for the <a href="https://github.com/jstrait/beats">beats</a> gem by <a href="https://www.joelstrait.com/">Joel Strait</a></p>
